{% extends 'HomePage/base.html' %}


{% block body %}
    <div class="container col-md-offset-3">
        <div class="row1" align="center">
            <h1>Customer Detail</h1>
        </div>
        <div class="row1 col-lg-offset-3">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form }}
                {{ product.id }}
                <div>
                    <h1>
                    </h1>
                </div>
                <button type="submit" class="btn btn-success">Order</button>
            </form>
        </div>

    </div>
{% endblock %}