<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">{% block bar_title %} Lovely Memory {% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'balloon' %}">Balloon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flower' %}">Flower</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift' %}">Gift</a>
                </li>
            </ul>
        </div>
    </div>
</nav>